*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    color:#fff;
    font-family:sans-serif;
}

.topbar{
    position:sticky;
    top:0;
    background:#111;
    padding:15px;
    z-index:100;
    border-bottom:1px solid #222;
}

#search{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#222;
    color:#fff;
    font-size:16px;
}

#tagArea{
    margin-top:10px;
    display:flex;
    flex-wrap:wrap;
    gap:8px;
}

.tag{
    background:#333;
    color:white;
    padding:8px 14px;
    border-radius:20px;
    cursor:pointer;
    transition:.2s;
}

.tag:hover{
    background:#444;
}

.tag.active{
    background:white;
    color:black;
}

#gallery{
    padding:20px;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(280px,1fr));
    gap:20px;
}

.card{
    background:#111;
    border-radius:15px;
    overflow:hidden;
}

.card img{
    width:100%;
    display:block;
    cursor:pointer;
}

.card h2{
    padding:12px 12px 6px;
    font-size:18px;
}

.card p{
    padding:0 12px 12px;
    color:#aaa;
    font-size:14px;
}

/* popup */

#popup{
    display:none;
    position:fixed;
    inset:0;
    background:#000;
    z-index:9999;
    overflow-y:auto;
}

#popupContent{
    width:100%;
    max-width:1200px;
    margin:auto;
    padding:70px 10px 30px;
}

#popupContent img{
    width:100%;
    display:block;
    margin-bottom:30px;
    border-radius:10px;
}

#close{
    position:fixed;
    top:15px;
    right:20px;

    font-size:40px;
    color:white;

    cursor:pointer;
    z-index:10000;
}

@media(max-width:768px){

    #gallery{
        grid-template-columns:1fr;
    }

    #close{
        font-size:32px;
    }

}
